* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --color-gray-100: #f6f6f6;
  --color-gray-700: #464040;
  --color-gray-900: #262121;

  --color-grass: #50ccaf;
  --color-fire: #f56a67;
  --color-water: #84c1d9;
  --color-eletric: #fad26a;
  --color-bug: #87c877;
  --color-normal: #d6d4d3;
  --color-poison: #c2a0c7;
  --color-ground: #d6897b;
  --color-fairy: #f9d0d4;
  --color-fighting: #edd090;
}

body {
  background-color: #f6f6f6;
  color: #262121;
}

header {
  padding: 1.5rem;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.icon-header {
  height: 1rem;
}

.pokeballBackground {
  position: absolute;
  top: -75px;
  right: -86px;
  opacity: 0.2;
  z-index: -1;
}

.pokeballBackground img {
  filter: invert(100%);
  height: 235px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}

h2 {
  font-size: 1rem;
  text-transform: capitalize;
}

.pokedex-list {
  color: var(--color-gray-700);
  font-size: 0.8rem;
  list-style: none;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.3rem;
}

.pokedex-list > li {
  padding: 0.4rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-image: url(/img/pokeball.svg);
  background-position: right;
  background-size: 7.5rem;
  background-repeat: no-repeat;
  background-position-x: 60px;
  background-position-y: 10px;
  background-blend-mode: soft-light;
  height: 7rem;
}

.pokedex-list section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
}

.pokedex-list img {
  width: 4rem;
  height: 4rem;
}

.type-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.type-list > li {
  background: rgba(255, 255, 255, 0.2);
  padding: 0.2rem 0.5rem;
  width: fit-content;
  border-radius: 8px;
}

.pokeGrassContainer {
  background-color: var(--color-grass);
}

.pokeFireContainer {
  background-color: var(--color-fire);
}

.pokeWaterContainer {
  background-color: var(--color-water);
}

.pokeElectricContainer {
  background-color: var(--color-eletric);
}

.pokeBugContainer {
  background-color: var(--color-bug);
}

.pokeNormalContainer {
  background-color: var(--color-normal);
}

.pokePoisonContainer {
  background-color: var(--color-poison);
}

.pokeGroundContainer {
  background-color: var(--color-ground);
}

.pokeFairyContainer {
  background-color: var(--color-fairy);
}

.pokeFightingContainer {
  background-color: var(--color-fighting);
}
