* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f6f6f6;
  color: #262121;
}

header {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}

header img {
  height: 1.5rem;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}
