* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f6f6f6;
  color: #262121;
}

header {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}

header img {
  height: 1.5rem;
}

.pokeballBackground {
  position: absolute;
  width: 55%;
  height: 60%;
  background-image: url(/img/pokeball.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: -19%;
  right: -8%;
  opacity: 0.1;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
